
<div *ngIf="isCustomer">
    <app-customer-header></app-customer-header>
</div>
<div *ngIf="isAdmin">
    <app-admin-header></app-admin-header>
</div>
<div *ngIf="isAgent">
    <app-agent-header></app-agent-header>
</div>
<div *ngIf="isEmployee">
    <app-employee-header></app-employee-header>
</div>

<div class="wrapper">
    
    <div class="container">
        <h2 class="heading">Change Password</h2>
        <form class="form-container" [formGroup]="changePasswordForm" (ngSubmit)="updatePassword()">
            <!-- <div class="form-group">
                <input type="text" formControlName="userName" class="form-control" placeholder="USER NAME*" />
                <div *ngIf="changePasswordForm.get('userName')?.dirty && changePasswordForm.get('userName')?.hasError('required')" class="error-message">
                    *User Name is required.
                </div>
            </div> -->

            <div class="form-group">
                <input
                    type="{{ hideOldPassword ? 'password' : 'text' }}"
                    formControlName="oldPassword"
                    class="form-control"
                    placeholder="OLD PASSWORD*"
                />
                <i
                    class="toggle-password fas"
                    [ngClass]="hideOldPassword ? 'fa-eye' : 'fa-eye-slash'"
                    (click)="togglePasswordVisibility('old')"
                ></i>
                <div *ngIf="changePasswordForm.get('oldPassword')?.dirty && changePasswordForm.get('oldPassword')?.hasError('required')" class="error-message">
                    *Old Password is required.
                </div>
            </div>

            <div class="form-group">
                <input
                    type="{{ hideNewPassword ? 'password' : 'text' }}"
                    formControlName="newPassword"
                    class="form-control"
                    placeholder="NEW PASSWORD*"
                />
                <i
                    class="toggle-password fas"
                    [ngClass]="hideNewPassword ? 'fa-eye' : 'fa-eye-slash'"
                    (click)="togglePasswordVisibility('new')"
                ></i>
                <div *ngIf="changePasswordForm.get('newPassword')?.dirty && changePasswordForm.get('newPassword')?.hasError('required')" class="error-message">
                    *New Password is required.
                </div>
                <div *ngIf="changePasswordForm.get('newPassword')?.dirty && changePasswordForm.get('newPassword')?.hasError('pattern')" class="error-message">
                    *New Password must contain at least one uppercase letter, one number, and one special character.
                </div>
            </div>

            <div class="form-group">
                <input
                    type="{{ hideConfirmPassword ? 'password' : 'text' }}"
                    formControlName="confirmPassword"
                    class="form-control"
                    placeholder="CONFIRM PASSWORD*"
                />
                <i
                    class="toggle-password fas"
                    [ngClass]="hideConfirmPassword ? 'fa-eye' : 'fa-eye-slash'"
                    (click)="togglePasswordVisibility('confirm')"
                ></i>
                <div *ngIf="changePasswordForm.get('confirmPassword')?.dirty && changePasswordForm.get('confirmPassword')?.hasError('required')" class="error-message">
                    *Confirm Password is required.
                </div>
                <div *ngIf="changePasswordForm.hasError('mismatch')" class="error-message">
                    *Passwords do not match.
                </div>
            </div>

            <div class="button-container">
                <button type="submit" class="btn btn-register">Change Password</button>
            </div>
        </form>
    </div>
</div>
<app-footer-end></app-footer-end>
